<div class="card">
    <div class="md:w-full">
        <div class="card flex flex-col gap-4">
            <h1 class="text-4xl font-extrabold text-sky-700 leading-tight">
                Stock de Insumos
            </h1>
            <div class="grid grid-cols-12 gap-4 items-center">
                <label for="hastaFecha" class="col-span-2 text-right">Hasta:</label>
                <div class="col-span-4">
                  <p-datepicker
                    [(ngModel)]="hastaFecha"
                    [showIcon]="true"
                    iconDisplay="input"
                    dateFormat="dd/mm/yy"
                    inputId="hastaFecha"
                    appendTo="body"
                    class="w-full"
                  ></p-datepicker>
                </div>
              </div>
              <div class="col-span-12 md:col-span-3 flex justify-end">
                <p-button 
                label="Consultar" 
                icon="pi pi-search"
                severity="info"
                (click)="consultarResumenStock()"
                rounded />
            </div>
        </div>
    </div>
    <p-table [value]="resumenStock" rowGroupMode="rowspan" groupRowsBy="cod_insumo" sortField="cod_insumo" sortMode="single" [tableStyle]="{ 'min-width': '75rem' }">
        <ng-template #header>
            <tr>
                <th>Código Insumo</th>
                <th>Insumo</th>
                <th>Presentación</th>
                <th>Total ingresado</th>
                <th>Total egresado</th>
                <th>Stock actual</th>
                <th>Cantidad a solicitar</th>
            </tr>
        </ng-template>
        <ng-template #body let-item let-rowIndex="rowIndex" let-rowgroup="rowgroup" let-rowspan="rowspan">
            <tr>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                {{ item.cod_insumo }}
                </td>
                <td *ngIf="rowgroup" [attr.rowspan]="rowspan">
                    {{ item.insumo }}
                </td>
                <td>{{ item.presentacion }}</td>
                <td>{{ item.total_ingresado }}</td>
                <td>{{ item.total_egresado }}</td>
                <td>{{ item.existencia_actual }}</td>
                <td>{{ item.cantidad_a_solicitar }}</td>
            </tr>
        </ng-template>
    </p-table>
</div>