<div class="card">
    <div class="md:w-full">
        <div class="card flex flex-col gap-4">
            <h1 class="text-4xl font-extrabold text-sky-700 leading-tight">
                Crear Presentación
            </h1>
            <div class="grid grid-cols-12 gap-2">
                <label for="email3" class="col-span-1 flex items-center justify-end mb-0">Código</label>
                <div class="col-span-8 md:col-span-2 mr-2 flex items-center">
                    <input pInputText id="email3" type="text" class="p-1 mt-0"/>
                </div>
                
                <label for="email4" class="col-span-1 flex items-center justify-end mb-0">Nombre</label>
                <div class="col-span-8 md:col-span-2 mr-2 flex items-center">
                    <input pInputText id="email4" type="text" class="p-1 mt-0"/>
                </div>

                <div class="col-span-8 md:col-span-2 flex items-center justify-center justify-self-center">
                    <p-button label="Guardar Registro" severity="info" rounded />
                </div>
            </div>
        </div>
    </div>
</div>