.p-datatable-frozen-tbody {
    font-weight: bold;
}

.p-datatable-scrollable .p-frozen-column {
    font-weight: bold;
}

.hidden-init-btn {
    display: none !important;
  }

  ::ng-deep .custom-tooltip {
  max-width: 200px;
  white-space: normal;
  font-size: 14px;
  text-align: left;
}